<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<title>修改密码-</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/resources/layui/css/layui.css" media="all"/>
	<link rel="stylesheet" href="/resources/css/public.css" media="all"/>
</head>
<body class="childrenBody">

<form class="layui-form layui-row changePwd" id="dataFrm" lay-filter="dataFrm">
	<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
		<div class="layui-input-block layui-red pwdTips">需要先输入正确的旧密码，新密码必须两次输入一致才能提交。</div>
		<div class="layui-form-item">
			<label class="layui-form-label" for="name">用户名</label>
			<div class="layui-input-block">
				<input type="text" name="name" id="name" disabled class="layui-input layui-disabled">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label" for="loginname">登录名</label>
			<div class="layui-input-block">
				<input type="text" name="loginname" id="loginname" disabled class="layui-input layui-disabled">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label" for="originalPwd">旧密码</label>
			<div class="layui-input-block">
				<input type="password" name="originalPwd" id="originalPwd" placeholder="请输入旧密码" lay-verify="required|oldPwd" class="layui-input pwd">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label" for="oldPwd">新密码</label>
			<div class="layui-input-block">
				<input type="password" name="newpwd" placeholder="请输入新密码" lay-verify="required|newPwd" id="oldPwd" class="layui-input pwd">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label" for="confirmPwd">确认密码</label>
			<div class="layui-input-block">
				<input type="password" id="confirmPwd" placeholder="请确认密码" lay-verify="required|confirmPwd" class="layui-input pwd">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="changePwd">立即修改</button>
				<button type="reset" class="layui-btn layui-btn-primary" id="doReset">重置</button>
			</div>
		</div>
	</div>
</form>

<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript">
	layui.use(['form','layer'],function(){
		var form = layui.form;
        var layer = layui.layer;
        var $ = layui.jquery;

        // 通用jquery工具方法
        $.extend({
            /* 把一个java对象转换成json对象 */
            "parseJavaToJSON": function (str) {
                var strArr_1 = str.split("(");
                var strArr_2 = strArr_1[1].split(")");
                var strArr_3 = strArr_2[0].split(", ");
                var searchJSON = {};
                $.each(strArr_3, function (index, item) {
                    var newItem = item.split("=");
                    searchJSON[newItem[0]] = decodeURIComponent(newItem[1]);
                });
                return searchJSON;
            },
            /* 把一个get参数形式字符串转换成json对象 */
            "parseJSON": function (str) {
                var strArr = str.split("&");
                var searchJSON = {};
                $.each(strArr, function (index, item) {
                    var newItem = item.split("=");
                    searchJSON[newItem[0]] = decodeURIComponent(newItem[1]);
                });
                return searchJSON;
            }
        });

        // 获取当前登录用户名
        var user = $.parseJavaToJSON('[[${session.user}]]');
        console.log("用户信息：", '[[${session.user}]]');
        console.log("用户信息：", user);	// 把一个java对象转换成json对象，

        // 初始化表单
        form.val("dataFrm", user);

        //添加验证规则
		form.verify({
			newPwd : function(value, item){
				if(value.length < 6){
					return "密码长度不能小于6位";
				}
			},
			confirmPwd : function(value, item){
				if(!new RegExp($("#oldPwd").val()).test(value)){
					return "两次输入密码不一致，请重新输入！";
				}
			}
		})

        form.on('submit(changePwd)', function () {

            // 旧密码值
            var oldPwd = $("#originalPwd").val();
            // 新密码值
            var newPwd = $("#oldPwd").val();
            // 判断是否可以提交
            var success = false;

            // 确认用户旧密码
            $.ajax({
                type: "get",
                url: "/user/checkUser",
                data: 'pwd=' + oldPwd,
                datatype: "json",
                async: false,
                success: function (response) {
                    if (response.code !== 200) {
                        layer.msg(response.msg);
                        success = true;
                    }
                }
            });
            if (success) {
                return false;
            }
            // 表单提交
            $.post('/user/updatePwd', {"pwd" : newPwd}, function (res) {

                layer.msg(res.msg);
            });

            return false;
        })

        // 重置新增表单内容
        $("#doReset").click(function () {
            window.location.reload(); //刷新当前页面.
        })
	})
</script>
</body>
</html>
